.header-container {
  position: relative;
  width: 100%;
  height: 500px;
}

.heading-container {
  display: flex;
  align-items: center;
  padding-top: 15%;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.my-spinner {
  position: absolute;
  left: 48%;
  top: 10%;
}
