.book-button {
  margin-top: 2rem;
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem 1rem;
  background-color: #71c9ce;
  border-radius: 5px;
}

.book-button:hover {
  color: #ffffff;
  opacity: 90%;
}

.my-spinner {
  position: absolute;
  left: 48%;
  top: 20%;
}

@media screen and (max-width: 320px) {
  .navbar {
    background: rgba(203, 241, 245, 0.8) !important;
  }
  h1 {
    font-weight: 600;
  }
  .row1-container {
    flex-direction: column;
  }
  .img1 {
    width: 110px;
    height: 140px;
  }
  .img2 {
    width: 110px;
    height: 140px;
  }
}
